body 
{
    font-family: Arial, sans-serif;
    background-color: #eef;
    text-align: center;
    padding: 40px;
}

input, button 
{
    padding: 10px;
    margin: 5px;
}

#resultaat 
{
    margin-top: 20px;
    font-size: 18px;
}

.error 
{
    color: red;
}